
* {
	margin: 0;
	padding: 0;
	font-family: arial;
	box-sizing: border-box;
}
h1{
	padding: 10px, auto;
}
body {
	display: grid;
	place-items: center;
	background: linear-gradient(-45deg, #ee7752, #c35680e0, #23a6d5, #5fb2aecf);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 80vh;
	background-repeat: no-repeat;
}
@keyframes gradient {0% {background-position: 0% 50%;}50% {background-position: 100% 50%;}100% {background-position: 0% 50%;}}

table {
	width: 600px;
	box-shadow: -1px 12px 12px -6px rgba(0, 0, 0, 0.5);
}

table, td, th {
	padding: 20px;
	border: 1px solid lightgray;
	border-collapse: collapse;
	text-align: center;
	cursor: pointer;
}

td {
	font-size: 18px;
}

th {
	background-color: blue;
	color: white;
}

tr:nth-child(odd) {
	background-color: lightblue;
}

tr:nth-child(odd):hover {
	background-color: dodgerblue;
	color: white;
	transform: scale(1.5);
	transition: transform 300ms ease-in;
}

tr:nth-child(even) {
	background-color: #ededed;
}

tr:nth-child(even):hover {
	background-color: lightgray;
	transform: scale(1.5);
	transition: transform 300ms ease-in;
}